<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidgroupproject">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ImageOfDayList"></activity>
        <activity android:name=".ImageOfDayLoading" />
        <activity android:name=".ImageOfTheDay" />
        <activity android:name=".ImageryDatabase" />
        <activity android:name=".Guardian"></activity>
        <activity android:name=".Article"></activity>
        <activity android:name=".ArticleDetail"></activity>
        <activity android:name=".MainDatabase"></activity>
        <activity android:name=".ImageryNasaActivity" />
        <activity android:name=".HeadlineDetails"/>
        <activity android:name=".BBCnewsReader" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>